.App {
  background-color: #282c34;
}

.App-header {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 60px);
  flex-direction: row;
  min-width: 100%;
/*  align-items: center;*/
  justify-content: center;
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
}

.full-card {
    height: 100%;
}

.square-corner {
    border-radius: 0% !important;
}

